<flynt-component
  load:on="idle" name="SliderBox"
  class="pb-0 lg:pb-xl overflow-hidden"
>
  <script type="application/json">{{ jsonData|json_encode }}</script>
  <div class="wrapper w-screen mx-auto boxed">
    {% if headlineTitle %}
      <h2 class="max-w-screen-lg mx-auto flex justify-center items-center text-center text-yellow uppercase">{{ headlineTitle }}</h2>
    {% endif %}

    <div data-ref="slider" class="slider swiper-container mt-lg">
      {# <div class="button-wrapper absolute right-sm xs:right-0 flex align-middle justify-end z-50 translate-y-[18px] xs:-translate-y-[45px] lg:-translate-y-[60px]">
        <button type="button" data-ref="prev" class="slider-button slider-button--prev">
          <svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-white xs:fill-black" d="M3.93801 13.9393C3.35222 14.5251 3.35222 15.4749 3.93801 16.0607L13.4839 25.6066C14.0697 26.1924 15.0195 26.1924 15.6053 25.6066C16.1911 25.0208 16.1911 24.0711 15.6053 23.4853L7.11999 15L15.6053 6.51472C16.1911 5.92893 16.1911 4.97918 15.6053 4.3934C15.0195 3.80761 14.0697 3.80761 13.484 4.3934L3.93801 13.9393ZM34.3438 13.5L4.99867 13.5L4.99867 16.5L34.3437 16.5L34.3438 13.5Z"/>
          </svg>
        </button>
        <button type="button" data-ref="next" class="slider-button slider-button--next">
          <svg class="transform scale-x-[-1]" width="40" height="30" viewbox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-white xs:fill-black" d="M3.93801 13.9393C3.35222 14.5251 3.35222 15.4749 3.93801 16.0607L13.4839 25.6066C14.0697 26.1924 15.0195 26.1924 15.6053 25.6066C16.1911 25.0208 16.1911 24.0711 15.6053 23.4853L7.11999 15L15.6053 6.51472C16.1911 5.92893 16.1911 4.97918 15.6053 4.3934C15.0195 3.80761 14.0697 3.80761 13.484 4.3934L3.93801 13.9393ZM34.3438 13.5L4.99867 13.5L4.99867 16.5L34.3437 16.5L34.3438 13.5Z"/>
          </svg>
        </button>
      </div>
      <div data-ref="dots" class="block slider-pagination swiper-pagination-fraction"></div> #}
      <div class="swiper-wrapper">
        {% for box in boxes %}
          <div 
            class="slider-item swiper-slide relative w-full h-auto min-h-[300px] md:min-h-[360px] p-sm lg:mr-md flex flex-col justify-start bg-white overflow-hidden" 
            {# style="background-color: {% if box.colorBackground %}{{ box.colorBackground }}{% else %}var(--secondary){% endif %}; color:{% if box.colorText %}{{ box.colorText }}{% else %}var(--white){% endif %};" #}
            >
            <div>
              {% if box.logo %}
                <div class="flex flex-row items-start justify-start mb-lg">
                  <img class="logo lazyload w-auto max-w-[60px] h-auto object-contain"
                  src="{{ box.logo.src | resize(32) }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', box.logo.id)}}"
                  data-sizes="auto">
                </div>
              {% endif %}
            </div>
            {% if box.title %}
              <div class="font-h3 mb-sm">{{ box.title }}</div>
            {% endif %}
            {% if box.contentHtml %}
              <div>{{ box.contentHtml|e('wp_kses_post') }}</div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</flynt-component>
