<flynt-component load:on="visible" name="NavigationFooter" class="bg-cover bg-no-repeat bg-bottom" style="background-image: url('{{ backgroundImage }}');">
  <div class="w-full max-w-screen-xl mx-auto p-sm lg:p-lg flex flex-row justify-between items-center">
    <div class="w-full grid grid-cols-1 sm:grid-cols-3 items-center gap-md sm:gap-sm">
      {# Right #}
      <div class="flex flex-row sm:flex-col gap-lg justify-between text-white">
        {% if addressFooterHtml %}
          <div>{{ addressFooterHtml|e('wp_kses_post') }}</div>
        {% endif %}
        {% if contactsFooterHtml %}
          <div>{{ contactsFooterHtml|e('wp_kses_post') }}</div>
        {% endif %}
      </div>
      {# Center #}
      {% if logoFooter %}
      <div class="flex justify-center items-center">
        <img class="logo lazyload"
          src="{{ logoFooter.src | resize(32) }}"
          data-srcset="{{function('wp_get_attachment_image_srcset', logoFooter.id)}}"
          data-sizes="auto">
      </div>
      {% endif %}
      {# Right #}
      <div class="flex flex-col gap-sm sm:gap-lg justify-between text-white">
        {% if socialFooterHtml %}
        <div class="hidden md:block socialmedia wysiwyg">
          {{ socialFooterHtml|e('wp_kses_post') }}
        </div>
        {% endif %}
        {% if menu %}
          <nav class="navigation w-full flex justify-start md:justify-end items-end md:items-center" aria-label="{{ labels.ariaLabel }}">
            {% include 'Partials/_menu.twig' with { 'items': menu.get_items, 'level': '0', 'maxLevel': maxLevel } only %}
            {% if socialFooterHtml %}
              <div class="block md:hidden socialmedia wysiwyg">
                {{ socialFooterHtml|e('wp_kses_post') }}
              </div>
            {% endif %}
          </nav>
        {% endif %}
      </div>
      {% include 'Partials/_backtotop.twig' %}
    </div>
  </div>
</flynt-component>
