{% if posts|length > 0 %}
  <flynt-component load:on="visible" name="GridFeatCovers">
    <div class="w-full max-w-screen-xl mx-auto boxed">
      <div class="flex flex-col md:flex-row justify-between items-start gap-sm lg:gap-md">
        {% if blockTitle %}
        <div class="w-full md:w-[20%]">
          <div class="uppercase text-blue font-bold mb-sm">{{ blockTitle }}</div>
          <div class="w-fit">
            <a href="{{ labels.allPostsLink.url }}" class="button button--blue">{{ labels.allPosts }}</a>
          </div>
        </div>
        {% endif %}
        <ul class="w-full md:w-[80%] mx-auto grid grid-cols-1 sm:grid-cols-3 gap-sm sm:gap-md">
          {% for post in posts %}
            <li class="grid-item {{ post.post_type }}">
              <div class="content">
                <a href="{{ post.link }}" class="content-link" title="{{ post.title }}">
                  <img class="content-image lazyload mb-sm"
                    src="{{ post.thumbnail.src }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
                    data-sizes="auto">
                  <div class="content-inner mt-[10px]">
                    <div class="title text-blue text-h2">{{ post.title }}</div>
                  </div>
                </a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </flynt-component>
{% endif %}
