{% if items|length > 0 %}
  <flynt-component load:on="visible" name="RelatedPilots" class="bg-blue">
    <div class="w-full max-w-screen-xl mx-auto boxed">
      {% if preContentTitle %}
      <div class="w-full flex justify-start items-center">
        <h2>{{ preContentTitle }}</h2>
      </div>
      {% endif %}
      <ul class="w-full mx-auto mt-lg md:mt-xl grid grid-cols-1 sm:grid-cols-3 gap-sm sm:gap-md">
        {% for item in items %}
          <li class="grid-item {{ item.post_type }}">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <img class="content-image lazyload"
                  src="{{ item.thumbnail.src }}"
                  data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                  data-sizes="auto">
                <div class="content-inner mt-[10px]">
                  <div class="text-body font-bold">{{ item.title }}</div>
                  <div class="text-body font-bold text-darkgrey">{{ item.partner }}</div>
                  <div class="text-body">{{ item.intro|truncate(10) }}</div>
                  <div class="h3">→</div>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
