<ul data-ref="menu" class="menu">
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <li class="item {{- item.current ? ' current-menu-item' }}">
        <a class="link text-[1.5rem]" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <li class="item open-submenu {{- item.current ? ' current-menu-item' }}" >
        <div class="link text-[1.5rem]">
          {{ item.title }}
        </div>
        <ul class="submenu">
          {% for subitem in item.children %}
            <li class="item {{- subitem.current ? ' current-menu-item' }}">
              <a class="link text-[1rem]" href="{{ subitem.link }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
