<ul class="menu list-none flex align-middle items-center justify-between gap-lg w-[calc(100%_-_240px)]">
  {% for item in items %}
    {# regular menu item #}
    {% if not item.children %}
      <li class="item flex align-middle items-center text-menu {{- item.current ? ' current-menu-item underline' }}">
        <a class="link text-menu text-white flex align-middle items-center hover:underline text-currentColor font-extrabold transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
      </li>
    {% endif %}
    {# menu with submenu item #}
    {% if item.children %}
      <li class="item flex align-middle items-center open-submenu text-menu {{- item.current ? ' current-menu-item underline' }}" >
        <a class="link text-menu text-white flex align-middle items-center no-underline hover:underline text-currentColor font-extrabold transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
          {{ item.title }}
        </a>
        <ul class="menu submenu">
          {% for subitem in item.children %}
            <li class="item {{- item.current ? ' current-menu-item underline' }}">
              <a class="link flex text-white align-middle items-center no-underline hover:underline  text-currentColor font-normal transition-transform duration-200 ease-in-out" href="{{ subitem.link }}">{{ subitem.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>
