<!DOCTYPE html>
<html class="html {{ body_class }} horizontal page-{{ post.slug }}" id="theTop" lang="{{ site.language }}" {{ site.language_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">
    {{ function('wp_head') }}
  </head>
  <body class="bg-grey">
    <a href="#mainContent" class="skipLink">
      {{ __("Skip to main content", "flynt") }}
    </a>
    {% block layout %}
      <div class="pageWrapper">
        <header>
          {% block header %}
            <div class="hidden lg:flex mainHeader fixed top-0 left-0 w-screen z-50 flex-row justify-between bg-blue">
              {{ renderComponent('NavigationMain') }}
              <a class="logo lg:fixed" href="{{ site.link }}">
                <img class="logo-image" width="156" height="46" src="/wp-content/uploads/2023/04/Logo.png" alt="Logo">
              </a>
            </div>
            {{ renderComponent('NavigationBurger') }}
          {% endblock %}
        </header>
        <main id="mainContent" class="mainContent squares bg-grey" aria-label="{{ __('Content', 'flynt') }}">
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>
        <footer class="mainFooter mt-[120px]">
          {% block footer %}
            {{ renderComponent('NavigationFooter') }}
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
  </body>
</html>
