<!DOCTYPE html>
<html class="html {{ body_class }} horizontal page-{{ post.slug }}" id="theTop" lang="{{ site.language }}" {{ site.language_attributes }}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} {{ __('Feed', 'flynt') }}" href="{{ site.rss2 | e('esc_url') }}">
    {{ function('wp_head') }}
  </head>
  <body class="bg-white">
    <a href="#mainContent" class="skipLink">
      {{ __("Skip to main content", "flynt") }}
    </a>
    {% block layout %}
      <div class="pageWrapper">
        <header class="w-full">
          {% block header %}
            <div class="hidden lg:block w-full p-sm lg:p-lg fixed top-0 left-0 z-50 bg-white">
              <div class="w-full max-w-screen-xl mx-auto flex flex-row justify-between gap-sm">
                {{ renderComponent('NavigationMainLeft') }}
                {{ renderComponent('NavigationMainLogo') }}
                {{ renderComponent('NavigationMainRight') }}
              </div>
            </div>
            {{ renderComponent('NavigationBurger') }}
          {% endblock %}
        </header>
        <main id="mainContent" class="mainContent squares bg-white" aria-label="{{ __('Content', 'flynt') }}">
          {% if function('post_password_required') %}
            {{ function('get_the_password_form') }}
          {% else %}
            {% block content %}
              No <code>{{ '{% block content %}' }}</code> defined for this template.
            {% endblock %}
          {% endif %}
        </main>
        <footer class="mainFooter mt-[120px]">
          {% block footer %}
            {{ renderComponent('NavigationFooter') }}
          {% endblock %}
        </footer>
      </div>
    {% endblock %}
    <div class="wpFooter">
      {{ function('wp_footer') }}
    </div>
  </body>
</html>
