<flynt-component load:on="visible" name="HeroImageText" class="py-sm sm:py-md md:py-lg">
  <div class="wrapper w-full mx-auto py-sm sm:py-md md:py-lg">
    {# {% if headlineTitle %}
      <h2 class="max-w-screen-md mx-auto flex justify-center items-center text-center text-yellow uppercase">{{ headlineTitle }}</h2>
    {% endif %} #}
    <div class="flex flex-col items-center justify-between">
      <div class="relative z-20 w-full h-full">
        {% if image %}
          <img class="lazyload h-full w-full object-cover px-sm md:px-lg"
            src="{{ image.src | resize(32) }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
            data-sizes="auto"
            alt="{{ image.alt|e }}">
        {% endif %}
        {% if video %}
          <video controls playsinline>
            <source type="video/mp4" src="{{ video }}">
          </video>
        {% endif %}
      </div>
      <div 
        class="relative z-10 w-full h-full {% if image %}pt-[100px]{% else %}pt-sm md:pt-lg{% endif %} pb-lg flex flex-col justify-between items-center gap-sm -translate-y-[50px] md:-translate-y-[50px]"
        style="background-color: {% if options.colorBackground %}{{ options.colorBackground }}{% else %}var(--yellow){% endif %};"
        >
        {% if title %}
          <div class="font-h2">{{ title }}</div>
        {% endif %}
        {% if contentHtml %}
          <div class="max-w-[450px] mx-auto py-0 px-sm md:py-md">{{ contentHtml|e('wp_kses_post') }}</div>
        {% endif %}
        {% if buttonLink %}
          <div class="w-full flex justify-center items-center">
            <a 
              class="button button--outline" 
              href="{{ buttonLink.url }}" 
              {% if buttonLink.target %} target="{{ buttonLink.target }}" rel="noreferrer noopener"{% endif %}>
              {{ buttonLink.title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</flynt-component>
