<flynt-component load:on="visible" name="BlockImageText">
  <div class="wrapper max-w-screen-xl mx-auto boxed">
    {% if headlineTitle %}
      <h2 class="max-w-screen-md mx-auto flex justify-center items-center text-center text-yellow uppercase">{{ headlineTitle }}</h2>
    {% endif %}
    <div class="h-auto lg:h-[40vh] flex align-start md:items-center justify-start md:justify-between gap-sm bg-white" {{ imagePosition ? 'data-image-position="' ~ imagePosition ~ '"' }}>
      <div class="w-full lg:w-2/3 h-full">
        {% if image %}
          <img class="lazyload h-full w-full object-cover"
            src="{{ image.src | resize(32) }}"
            data-srcset="{{function('wp_get_attachment_image_srcset', image.id)}}"
            data-sizes="auto"
            alt="{{ image.alt|e }}">
        {% endif %}
        {% if image.caption %}
          <figcaption>{{ image.caption|e }}</figcaption>
        {% endif %}
      </div>
      <div class="w-full lg:w-1/3 h-full p-sm flex flex-col justify-between">
        {% if contentHtml %}
          <div>{{ contentHtml|e('wp_kses_post') }}</div>
        {% endif %}
        {% if buttonLink %}
          <div class="w-full mt-sm flex">
            <a 
              class="button button--outline" 
              href="{{ buttonLink.url }}" 
              {% if buttonLink.target %} target="{{ buttonLink.target }}" rel="noreferrer noopener"{% endif %}>
              {{ buttonLink.title }}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</flynt-component>
