<ul class="menu grid grid-cols-2 grid-rows-2 justify-end w-3/4">
  {% for item in items %}
    <li class="{{ item.classes | join(' ') }} text-white flex justify-start sm:justify-end text-left sm:text-right {{- item.current ? ' current-menu-item underline underline-offset-[5px]' }}">
      <a class="link font-bodyMenu flex items-center hover:underline hover:underline-offset-[5px] transition-transform duration-200 ease-in-out" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>
        {{ item.title }}
      </a>
    </li>
  {% endfor %}
</ul>
